<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083069992578-envpvijjfpbra5r0ov9dkije5bpuo8cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083069992578-envpvijjfpbra5r0ov9dkije5bpuo8cg</string>
	<key>API_KEY</key>
	<string>AIzaSyADnhmHLWgi-MW66wG7ETWkeRwVWhdMDvA</string>
	<key>GCM_SENDER_ID</key>
	<string>1083069992578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>main.CashCow</string>
	<key>PROJECT_ID</key>
	<string>cashcow-398a6</string>
	<key>STORAGE_BUCKET</key>
	<string>cashcow-398a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083069992578:ios:c7baa3c76a577995612e9b</string>
</dict>
</plist>